In [21]:
a= ["apple","banana","republic"]

In [22]:
for element in a:
    print(element)

apple
banana
republic

In [23]:
for i in range(0,3):#range(0,3) is 0,1,2
    print(a[i])

apple
banana
republic

In [25]:
for i in range(len(a)):
    print(a[i])

apple
banana
republic

In [27]:
for i in range(len(a)):
    for j in range(i+1):
        #i=0->j=o
        #i=1->j=0,1
        #i=2->j=0,1,2
        for m in range(j+1):
            print(a[i])
            #i=0->j=0->m=0
            #i=1->j=0,1->m=0,1,2
            #i=2->j=0,1,2->m=0,1,2,3

apple
banana
banana
banana
republic
republic
republic
republic
republic
republic

In [28]:
for i in range(len(a)):
    for j in range(i+1):
        #i=0->j=o
        #i=1->j=0,1
        #i=2->j=0,1,2
        for m in range(j+1):
            print(a[i])
            #i=0->j=0->m=0
            #i=1->j=0,1->m=0,1,2
            #i=2->j=0,1,2->m=0,1,2,3 
            for k in range(m+1):
                #i=0->j=0->m=0->k=0
                #i=1->j=0,1->m=0,1,2->k=0,1,2,3
                #i=2->j=0,1,2->m=0,1,2,3 ->k=0,1,2,3,4
                 print(a[i]) # 1 apple, 6 banana, 10 republic

apple
apple
banana
banana
banana
banana
banana
banana
banana
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic
republic

In [29]:
#tutorial 5
#Can you compute the sum of all multiples of 3 and 5 that are less than 100?
print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [30]:
total=0
for i in range(1,100):
    if i%3==0:
        total=total+i
    elif i%5==0:
        total +=i
print(total)

2318

In [31]:
total=0
for i in range(1,100):
    if i%3==0 or i%5==0:
        total=total+i
print(total)

2318

In [36]:
#tutorial 6
d = [7,5,4,4,3,1,-2,-3,-5,-7]
print(d)
total2 = 0
j= len(d)-1
while d[j]<0:
    total2 += d[j]
    j -= 1
print(total2)

[7, 5, 4, 4, 3, 1, -2, -3, -5, -7]
-17

In [37]:
#sorry...
#don't want to wait for the next tutorial?
#I'd recommend my courses on Lynda.com and Pluralsight
#-Lynda.com:Get Ready for your coding Interview 
#-Pluralsight: Introduction to Data visualization with Python
#(you can take these for free)
#Links in the description below
# more youtube tutorials coming up too!

In [38]:
v=[3,6,10]
totali=0
for i in v:
    if i%3==0:
        totali +=i
    elif i%5==0:
        totali +=i
print(totali)

19

In [39]:
v=[3,6,10]
totali=0
for i in v:
    if i%3==0 or i%5==0:
        totali +=i
print(totali)

19

In [40]:
v=[3,6,10]
totali=0
for i in v:
    if i%2==0 and i%5==0:
        totali +=i
print(totali)

10